.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f02f28;
    color: white;
    width: 100%;  
    box-sizing: border-box;  
}


.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    width: 60%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
}

.search-btn {
    padding: 8px 16px;
    background-color: white;
    color: #2874f0;
    border: none;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    gap: 65px; 
}
.login-icon {
    color: #fff; 
    font-size: 34px; 
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.cart-icon {
    margin-top: 1px;
    color: #fff; 
    font-size: 34px; 
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.login-icon:hover, .cart-icon:hover {
    color: #0bd43e; 
}

.logo {
    display: flex;
    margin-left: 50px;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
}

.logo-symbol {
    margin-right: 5px;
    margin-left: 20px;
    font-size: 1.8em;
    color: #FFD700;
}

.logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 1.6em;
    color: #FFFFFF; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}